.center a:hover {
    background-color: rgb(255, 255, 255);
    color:purple;
}
.center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.center-image{
    align-items: center;
    display: flex;
    justify-content: center;
}