.naviGation{
    background-color: #F1AF37;
}
.center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.center-image{
    align-items: center;
    display: flex;
    justify-content: center;
}