.Jollof {
    background-image: url("../assets/images/MainDishes/Simply-Recipes-Jollof-Rice-LEAD-6-5a93db14a0ac461f88dc557514a770c0.jpg");
    background-size: 100% 100%;  /* Adjust the size based on your preference */
    width: 100%;  /* Set the width of the section */
    height: 700px; /* Set the height of the section */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.GrilledChicken {
    background-image: url("../assets/images/MeatAndGrills/grilled-whole-chicken-recipe-10.jpg");
    background-size: 100% 100%;  /* Adjust the size based on your preference */
    width: 100%;  /* Set the width of the section */
    height: 700px; /* Set the height of the section */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ChefSpecial {
    background-image: url("../assets/images/Specials/pufftangerine-592-1-481x375.jpg");
    background-size: 100% 100%;  /* Adjust the size based on your preference */
    width: 100%;  /* Set the width of the section */
    height: 700px; /* Set the height of the section */
    text-align: center;
    display: flex;
    flex-direction: column;
}
.ChefSpecial h1, .GrilledChicken h1, .Jollof h1{
    font-size: 88px;
    font-weight: 300;
    color: white;
}
.ChefSpecial p, .GrilledChicken p, .Jollof p{
    font-size: 15px;
    font-weight: 300;
    color: white;
}



