.Jollof, .GrilledChicken, .ChefSpecial {
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-size: cover; /* Change to cover */
    background-position: center; /* Center the background image */
}

.Jollof {
    background-image: url("../assets/images/MainDishes/Simply-Recipes-Jollof-Rice-LEAD-6-5a93db14a0ac461f88dc557514a770c0.jpg");
}

.GrilledChicken {
    background-image: url("../assets/images/MeatAndGrills/grilled-whole-chicken-recipe-10.jpg");
}

.ChefSpecial {
    background-image: url("../assets/images/Specials/pufftangerine-592-1-481x375.jpg");
}

.ChefSpecial h1, .GrilledChicken h1, .Jollof h1 {
    font-size: 88px;
    font-weight: 300;
    color: white;
}

.ChefSpecial p, .GrilledChicken p, .Jollof p {
    font-size: 15px;
    font-weight: 300;
    color: white;
}
